<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegistrationSuite">
  <listeners>
    <listener class-name="com.onesports.listeners.TestListener"/>
  </listeners>
  <test name="AllTests">
    <classes>
        <class name="com.onesports.tests.LoginTest"/>
          <!-- <methods>
                    <include name="registerUserToFillApplication" />
                </methods> -->
    </classes>
  </test>
</suite>
